<html>
  <head>
    <title>{{ localisation.TITLE }}</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" type="image/png" href="favicon.png">

    <meta charset="utf-8">

	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<script type="text/javascript" src="portal.js"></script>

	<script>
		localisation = {{ localisation }}
	</script>

	<style>
		body {
			background-image:url('/backgrounds/{{ background }}'), url('/background_default.jpg');
		}
	</style>

	
  </head>
  <body onload="pageLoad()" ondragover="dragover(event)" ondrop="readFile(event)">
    <br>
    <h1>{{ localisation.HEADER }}</h1>

    	<div class="input" id="dropzone">{{ localisation.VIDEO }}:
			<!-- The actual file input field, not visible to avoid the ugly button -->
			<input type="file" id ="fileupload" style="display:none;" onchange="copyText()"/>
			<!-- A fake input field -->
			<input class="urlinput" id="fake_fileupload" placeholder='{{ localisation.DEFAULTVIDEO }}' readonly/>
			<label for="fileupload"><div class="button">{{ localisation.SELECT }}</div></label>
			<div class="button" onclick="uploadFile()">{{ localisation.SUBMIT }}</div>
		</div>
		<br/>
		<div class="input">
			<input id="from" type="checkbox" /> {{ localisation.TIME_START }}
				<input type="number" min=0 max=99 value=0 maxlength=2 id="from_hours" oninput=updateFrom(this) />:
				<input type="number" min=00 max=59 value=00 maxlength=2 id="from_minutes" oninput=updateFrom(this) />:
				<input type="number" min=00 max=59 value=00 maxlength=2 id="from_seconds" oninput=updateFrom(this) />

			<input id="to" type="checkbox" /> {{ localisation.TIME_END }}
				<input type="number" min=0 max=99 value=0 maxlength=2 id="to_hours" oninput=updateTo(this) />:
				<input type="number" min=00 max=59 value=00 maxlength=2 id="to_minutes" oninput=updateTo(this) />:
				<input type="number" min=00 max=59 value=00 maxlength=2 id="to_seconds" oninput=updateTo(this) />
		</div>

    	<p id="status">&nbsp;</p>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="category">{{ localisation.VIDEOLIST }}</div><br/>
    <div class="files" id="filelist">

    </div><br/>








  </body>


</html>
